src/main/webapp/files/versions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="versions">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="version" type="Version"  minOccurs="1" maxOccurs="unbounded" /> 
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:complexType name="Version">
	<xs:sequence> 
		<xs:element name="id" type="xs:integer" minOccurs="1" maxOccurs="1"/>
		<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
		<xs:element name="project" type="xs:integer" minOccurs="1" maxOccurs="1"/>
	</xs:sequence> 
</xs:complexType>
</xs:schema>